
<div>
  <div>

    <h3>本当に退会しますか？</h3>

    <div>
      退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </div>

    <%= link_to "退会しない", customers_path, class: "btn btn-primary" %>
    <%= link_to "退会する", customers_out_path , method: :patch, class: "btn btn-danger", "date-confirm" => "退会してよろしいですか？" %>


  </div>
</div>