<h1>Public::Customers#detain</h1>
<p>Find me in app/views/public/customers/detain.html.erb</p>

<div>
  <div>

    <h3>本当に退会しますか？</h3>

    <div>
      退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </div>




  </div>
</div>