
<div>
  <div>

    <h2>商品一覧</h2>
    <table class ="table table-hover table-inverse">
     <therd>
      <tr>
       <th>商品ID</th>
       <th>商品名</th>
       <th>税抜価格</th>
       <th>ジャンル</th>
       <th>　</th>
      </tr>
     </therd>
     <tbody>
      <% @items.each do |item| %>
       <tr>
        <th><%= item.id %></th>
        <th><%= link_to item.name, admin_item_path(item) %></th>
        <th><%= item.price %></th>
        <th><%= item.genre.name %></th>
        <th> </th>
       </tr>
      <% end %>
     </tbody>
    </table>

  </div>
</div>